@model IEnumerable<StronglyType.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a class="btn btn-success" href="/Home/Create">Create New</a>

<table class="table table-border">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Family</th>
        <th>Age</th>
        <th>Command</th>
    </tr>

    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Family</td>
                    <td>@item.Age</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="/Home/Detail/@item.Id">Detail</a>
                        <a class="btn btn-warning btn-sm" href="/Home/Edit/@item.Id">Edit</a>
                        <a class="btn btn-danger btn-sm" href="/Home/Delete/@item.Id">Delete</a>
                    </td>
                </tr>
            }

</table>