
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2>Index</h2>

<div style="border : 1px solid red; padding : 50px">
    <h1>Nila</h1>
</div>

@section Header
{
    <h1>Header</h1>
}

@section Footer
{
    <h1>Footer</h1>
}