<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        #header {
            height: 200px;
            background-color: aqua;
        }
        #footer{
            height : 200px;
            background-color : khaki;
        }
    </style>
</head>
<body>
    <div>
        <div id="header">
            @RenderSection("Header" , false)
        </div>
        <div id="content">
            @RenderBody()
        </div>
        <div id="footer">
            @RenderSection("Footer" , false)
        </div>
    </div>
</body>
</html>