
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>
    <div> 
        <h1>Contact Us</h1>
        <h2><a href="https://t.me/compexe">Telegram</a></h2>
        <h2>nilavosough84@gmail.com</h2>
        <h2>09120273410</h2>
    </div>
</body>
</html>
