
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div> 
        <h1>About Us</h1>
        <h2>ما خیلی خفن هستیم</h2>
    </div>
</body>
</html>
