
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>
    <div> 
        <h1>Contact Us</h1>
        <h2>0123456789</h2>
        <h2><a href="nilavosough84@gmail.com">Gmail</a></h2>
    </div>
</body>
</html>
